* {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 25px;
}

.test {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}
